/* -----------------------------------------------------------
*  Base Styles
* ----------------------------------------------------------*/

.menu-item {
	ul {
		list-style: none;
		li {
		}
	}
}

.menu-icon {
	height: 18px;
	width: 18px;
}
