.main-content {
	margin-left: 280px;
	overflow: hidden;
}

.content-area {
	background: #ebedef;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-top: 100px;
	height: calc(100vh - 100px);
	overflow-y: auto;

	&--main-wrap {
		padding-top: 32px;
	}

	&--container-fluid {
		padding-left: 30px;
		padding-right: 30px;
		margin-left: auto;
		margin-right: auto;
	}
}
