/*---------------------------------------------------------------------------------------
  Header Styles
 * --------------------------------------------------------------------------------------*/
.main-content-header {
	background: #fff;
	height: 100px;
	position: fixed;
	width: calc(100% - 280px);

	&--top {
		height: 60px;
		display: flex;
		justify-content: space-between;
		padding: 10px;
		border-bottom: 1px solid #dbdbdb;

		&__left-wrap {
			display: flex;
			align-items: center;
			position: relative;

			&-min-btn {
				display: none;
				position: absolute;

				button {
					outline: none;
				}
			}

			&-search-bar {
				margin-left: 10px;
				position: relative;
				width: 300px;

			}
		}

		&__right-wrap {
			display: flex;
			align-items: center;

			&-profile {
				margin: 0 8px;

				.profile-img {
					padding: 8px;
					display: flex;
					align-items: center;

					img {
						height: 34px;
						margin-right: 6px;
						width: auto;
					}
				}
			}

			&-icon {
				padding: 6px;
				display: flex;
				align-items: center;

				img {
					height: 20px;
					width: 20px;
				}
			}
		}
	}

	&--bottom {
		padding: 4px 10px;
		height: 40px;
		display: flex;
		align-content: center;
		justify-content: space-between;
		box-shadow: 0 2px 2px 0 rgba(60, 75, 100, 0.14),
			0 3px 1px -2px rgba(60, 75, 100, 0.12), 0 1px 5px 0 rgba(60, 75, 100, 0.2);

		&__breadcrumb-wrap {
			display: flex;
			align-content: center;
			font-family: $font-1;

			ul {
				display: flex;
				list-style: none;
				margin-left: 10px;
				margin-bottom: 0;
				padding-left: 0;
				align-items: center;

				li {
					line-height: 30px;
					margin-right: 24px;
					position: relative;

					&::after {
						content: '/';
						display: block;
						color: #7f8fa4;
						font-family: FontAwesome;
						position: absolute;
						top: 0;
						right: -18px;
						font-size: 24px;
						margin-right: 2px;
					}

					&:last-child:after {
						display: none;
					}
				}
			}
		}

		&__setttings-wrap {
			display: flex;
			align-items: center;

			.btn-header-settings {
				border: none;
				background: none;
				outline: none;
				display: flex;
				padding: 5px;

			}
		}
	}
}
