/* ---------------------------------------------------------------------------------------
  Main Styles
 * --------------------------------------------------------------------------------------*/
.form-group-inline {
	display: flex;
	align-items: center;

	label {
		padding-right: 16px;
	}
}

.form-control {
	background-color: #f3f6f9;
	width: 100%;
	border: none;
	height: calc(1.5em + 1.3rem + 2px);
	padding: 0.65rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #3f4254;
	background-clip: padding-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
}

/* Animation (Add After) */
.item-enter {
	opacity: 0;
}
.item-enter-active {
	opacity: 1;
	transition: opacity 1000ms ease-in;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transition: opacity 1000ms ease-in;
}
