/* ---------------------------------------------------------------------------------------
 Button Styles
* --------------------------------------------------------------------------------------*/

.btn {
	background: #1478d3;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 12px 34px;
	transition: all 0.2s ease-in;

	&:hover {
		background: #1262ac;
		transition: all 0.2s ease-in;
	}
}

.btn-gray {
	background: #ced0da;
	color: #000;

	&:hover {
		background: #e6e6e7;
		transition: all 0.2s ease-in;
	}
}

.btn-search {
	background: transparent;
	right: 6px;
	border: none;
	font-size: 18px;
	color: #ced0da;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.2s ease-in;

	&:hover {
		color: #6d6e71;
	}
}

.btn-search-emp-database {
}

.btn-start-page {
	margin-top: 26px;
	width: 100%;
}
