/*---------------------------------------------------------------------------------------
  Forms Styles
* --------------------------------------------------------------------------------------*/
.search-field {
  border: 1px solid #dfe3e9;
  border-radius: 0;
  font-size: 0.85rem;
  height: 40px;
  width: 100%;
  background-color: #fff;
  color: #354052;
  padding: 8px 34px 8px 14px;
  outline: none;
}