.employee-database {

	&--search-wrap {
		width: 100%;
		position: relative;
	}

	&--profile-list-wrap {
		height: calc(100vh - 280px);
		overflow: auto;
		margin: 20px 0;

		> div:first-child {
			padding-top: 0;
			padding-bottom: 26px !important;
			border-bottom: 1px solid #d8dbe0 !important;
		}
		> div:last-child {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	&--profile-item {
		padding: 26px;
		border-bottom: 1px solid #d8dbe0;

		&__head {
			border-bottom: 1px solid #d8dbe0;
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 10px;
			position: relative;

			.profile-item {

				&--img-wrap {
					padding: 0 14px;
					width: 30%;

					img {
						border-radius: 50%;
					}
				}

				&--primary-details {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 70%;

					p {
						margin: 0;
					}

					&__emp-no {
						color: #a1a1a1;

						font-weight: 500;
					}
					&__name {
						font-size: 20px;
						padding-top: 2px;
					}
				}

				&--btn-edit {
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}

		&__body {
			padding-top: 10px;

			.profile-item {

				&--secondary-details-wrap {
					display: flex;
					flex-wrap: wrap;
					position: relative;

					p {
						margin: 3px;
					}
				}

				&--secondary-details-info-title {
					width: 35%;

					p {
						font-weight: 600;
					}
				}
				&--secondary-details-info-value {
					width: 65%;

					&__address {
						min-height: 63px;
					}
				}

				&--secondary-details-btn-wrap {
					position: absolute;
					bottom: 6px;
					left: 2px;

					.profile-item__btn-view {
						color: #fff;
						background: #1478D3;
						font-size: .90rem;
						padding: 6px 12px;

						&:hover {
							background: #1262ac;
							transition: all 0.2s ease-in;
						}
					}
				}
			}
		}
	}

	&--main {

		&__profile-id-name-wrap {
			display: flex;
			margin-top: 24px;
			padding: 0 60px;

			.profile-pic-upload {
				width: 36%;
				display: flex;

				&--label {
					width: 25%;
					margin-right: 10px;
				}

				&--input {
					position: relative;


					&__preview {
						background: url(../img/emp-thumb.jpg);
						background-size: cover;
						height: 150px;
						width: 150px;
					}

					&__upload {
						position: absolute;
						top: -7px;
						right: -5px;
						-webkit-box-shadow: 0px 9px 16px 0px rgba(24, 28, 50, 0.25) !important;
						box-shadow: 0px 9px 16px 0px rgba(24, 28, 50, 0.25) !important;
						border-radius: 50%;
						height: 22px;
						width: 22px;
						background: #fff;
						cursor: pointer;

						i {
							color: #B5B5C3 ;
							font-size: 14px;
							padding: 4px 5px;
						}

						&:hover {
							background: #e9e9e9;
							transition: .2s all ease-in;
						}

						input[type="file"] {
							display: none;
						}
					}

				}
			}

			.name-emp-no {
				display: flex;
				flex-wrap: wrap;
				width: 64%;

				&--form-group {
					width: 100%;


				}
			}
		}

		&__other-info {
			margin-top: 40px;

			.other-info-line {
				display: flex;
				padding: 0 20px;

				&--form-group {
					padding-right: 30px;
				}
			}
		}
	}



}


