.employee-database {
	&--search-wrap {
		width: 100%;
		position: relative;
	}

	&--profile-list-wrap {
		height: calc(100vh - 270px);
		overflow: auto;
		margin: 20px 0;

		> div:first-child {
			padding-top: 0;
			padding-bottom: 26px !important;
			border-bottom: 1px solid #d8dbe0 !important;
		}
		> div:last-child {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	&--profile-no-list {
		padding: 20px;
		min-height: 140px;

		h4 {
			font-size: 18px;
		}
	}

	&--profile-item {
		padding: 22px 26px;
		border-bottom: 1px solid #d8dbe0;

		&__head {
			border-bottom: 1px solid #d8dbe0;
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 10px;
			position: relative;

			.profile-item {
				&--img-wrap {
					padding: 0 8px;
					width: 30%;

					img {
						border-radius: 50%;
						max-width: 90px;
						width: 100%;
					}
				}

				&--primary-details {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 70%;

					p {
						margin: 0;
					}

					&__emp-no {
						color: #a1a1a1;

						font-weight: 500;
					}
					&__name {
						font-size: 20px;
						padding-top: 2px;
					}
				}

				&--btn-edit {
					font-size: 14px;
					position: absolute;
					right: 0;
					top: 0;
					background: none;
					border: none;
					color: #1478d3;
					cursor: pointer;
					outline: none;

					&:hover {
						color: #1262ac;
					}
				}
			}
		}

		&__body {
			padding-top: 10px;

			.profile-item {
				&--secondary-details-wrap {
					display: flex;
					flex-wrap: nowrap;
					position: relative;

					p {
						margin: 3px;
					}
				}

				&--secondary-details-info-title {
					width: 35%;
					min-width: 116px;
					min-height: 117px;

					p {
						font-weight: 600;
					}
				}
				&--secondary-details-info-value {
					width: 65%;

					&__address {
						min-height: 63px;
					}
				}

				&--secondary-details-btn-wrap {
					position: absolute;
					bottom: 6px;
					left: 2px;

					.profile-item__btn-view {
						color: #fff;
						background: #1478d3;
						font-size: 0.65rem;
						padding: 6px 10px;
						cursor: pointer;
						margin-right: 3px;

						&:hover {
							background: #1262ac;
							transition: all 0.2s ease-in;
						}
					}

					.profile-item__btn-delete {
						border: none;
						color: #fff;
						background: #dc3545;
						font-size: 0.65rem;
						padding: 8px 10px;
						cursor: pointer;

						&:hover {
							background: #a44c54;
							transition: all 0.2s ease-in;
						}
					}
				}
			}
		}
	}

	&--main {
		&__profile-id-name-wrap {
			display: flex;
			margin: 24px auto 0;
			padding: 0 20px;
			max-width: 760px;

			.profile-pic-upload {
				width: 36%;
				display: flex;

				&--label {
					width: 25%;
					margin-right: 10px;
				}

				&--input {
					position: relative;

					&__preview {
						background: url(../img/emp-thumb.jpg);
						background-size: cover;
						height: 140px;
						width: 140px;
					}

					&__upload {
						position: absolute;
						top: -7px;
						right: -5px;
						-webkit-box-shadow: 0px 9px 16px 0px rgba(24, 28, 50, 0.25) !important;
						box-shadow: 0px 9px 16px 0px rgba(24, 28, 50, 0.25) !important;
						border-radius: 50%;
						height: 22px;
						width: 22px;
						background: #fff;
						cursor: pointer;

						i {
							color: #b5b5c3;
							font-size: 14px;
							padding: 4px 5px;
						}

						&:hover {
							background: #e9e9e9;
							transition: 0.2s all ease-in;
						}

						input[type='file'] {
							display: none;
						}
					}
				}
			}

			.name-emp-no {
				display: flex;
				flex-wrap: wrap;
				width: 64%;
				flex-direction: column;
				justify-content: space-evenly;

				&--form-group {
					width: 100%;

					.emp-no-label {
						min-width: 118px;
					}

					input::-webkit-outer-spin-button,
					input::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
					input[type='number'] {
						-moz-appearance: textfield;
					}
				}
			}
		}

		&__other-info {
			margin-top: 30px;
			margin-bottom: 30px;

			.other-info-line {
				display: flex;
				padding: 0 20px;
				margin-bottom: 16px;

				&--form-group {
					padding-right: 26px;
				}
			}

			.other-info-line {
				div:last-child {
					padding-right: 0;
				}

				&--form-group {
				}
			}

			// Custome per line
			.position-contact-no-line {
				&--left {
					width: 52%;
				}
				&--right {
					width: 48%;

					label {
						min-width: 158px;
					}
				}
			}

			.gender-email-line {
				&--left {
					width: 44%;
				}
				&--right {
					width: 56%;

					label {
						min-width: 142px;
					}
				}
			}

			.address-line {
				&--single {
					width: 100%;
				}
			}

			.civil-status-dob-line {
				&--left {
					width: 50%;

					label {
						min-width: 108px;
					}
				}
				&--right {
					width: 50%;

					label {
						min-width: 118px;
					}
				}
			}

			.pob-doh-line {
				&--left {
					width: 56%;

					label {
						min-width: 124px;
					}
				}
				&--right {
					width: 44%;

					label {
						min-width: 104px;
					}
				}
			}

			.sss-philhealth-no-line {
				&--left {
					width: 50%;

					label {
						min-width: 118px;
					}
				}
				&--right {
					width: 50%;

					label {
						min-width: 128px;
					}
				}
			}

			.btn-wrap-line {
				justify-content: flex-end;
				margin-top: 40px;

				.btn-gray {
					margin-right: 6px;
				}
			}
		}
	}
}
